/* COLORS AND SIZES
#1F2937 Background (hero and footer)
#F9FAF8 48px extra-bold (Hero main text)
#E5E7EB 18px (Hero secondary text)
#F9FAF8 24px (Header Logo text)

#3882F6 (Button Color)
#1F2937 36px extra-bold(Information Header text)
#E5E7EB (Quote Section background color)
#1F2937 36px light italic(Quote Text)
*/

*{margin: 0%;}

body {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0;
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 24px;
}

.header-logo {
    margin-left: 120px;
    color: #F9FAF8;
    font-size: 24px
}

header div {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 120px;
}

header div a {
    color: #E5E7EB;
    margin-right: 20px;
    text-decoration: none;
    font-size: 14px;
}

.hero-div {
    background-color: #1F2937;
    height: 300px;
}

.hero-text-block {
    margin-left: 140px;
    padding-top: 45px;
}

.hero-div h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.hero-div p {
    color: #E5E7EB;
    font-size: 14px;
}

.hero-div img {
    margin-right: 200px;
    padding-top: 25px;
}

.hero-div button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 4px 15px;
    border-radius: 4px;
    margin-top: 10px;
}

.hero-div button:hover {
    transform: scale(1.02);
}

.hero-div button:active {
    transform: scale(1.05);
}

.mid-content h2 {
    padding-top: 20px;
    font-size: 36px;
    color: #1F2937;
}

.box-container {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 180px;
}

.box {
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    margin-top: 40px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 15px;
}

.list-text {
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    padding: 24px;
}

.quote-text {
    text-align: left;
    color: #1F2937;
    font-size: 36px;
    margin-left: 260px;
    font-style: italic;
    font-weight: lighter;
}

.author-text {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.action-call-section{
    width: 1000px;
    height: 100px;
    background-color: #3882F6;
    border-radius: 12px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.action-call-section button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 200px;
    width: 100px;
    height: 45px;
    font-size: 24px;
}

.action-call-section button:hover {
    transform: scale(1.02)
}

.action-call-section button:active {
    transform: scale(1.05);
}

.action-call-section ul {
    padding-top: 10px;
    margin-left: 100px;
}

.action-call-section li {
    color: #E5E7EB;
    text-align: left;
}

.action-call-higher {
    font-weight: bolder;
    font-size: 24px;
}

footer {
    background-color: #1F2937;
    padding-top: 30px;
    color: #F9FAF8;
}